@import "tailwindcss";

@layer base {
  :root {
    --color-primary: oklch(0.586 0.19 145.71);
    --font-sans: 'Inter', sans-serif;
  }
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}
